<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Sample app</title>
    <link rel="stylesheet" href="stylesheets/charmgr.css">
    <link rel="stylesheet" href="stylesheets/clickmenu.css">
    <!-- import the toggle -->
    <link rel="import" href="xtoggle.html">
  </head>
  <body>
    <h1>Toggle me toggley</h1>

    <p>Hello world from Dart! </p>
    <div id="combo"></div>
    <div id="sample_container_id">
      <div is="x-toggle" state="{{state}}" name="weapons">
		<div id="content"></div>


      </div>
    </div>
    <div id="test_thing"></div>
    <div id="date"></div>
    <script type="application/dart" src="l.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
